{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}

{%endblock%}

{%block title%}{{parent()}} - Ajouter un film{%endblock%}


{%block arianne%}
{{parent()}} <img height="15px" src="{{asset('images/arrow.png')}}"/> Ajouter un film
{%endblock%}

{%block section%}
	<h2>Ajouter un film</h2>
	
	
{%endblock%}
