{% extends "MoviesBackOfficeBundle::layout.html.twig" %}

{%block title%}{{parent()}} - Ajouter un role{%endblock%}

{%block corps%}

	{% for msg in app.session.flashbag.get('notice') %}
		{% if msg is not empty %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>
				{{ msg }}
			</div>
		{% endif %}
	{% endfor %}

	<h1>Ajouter un role</h1>
{%endblock%}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/moviesbackoffice/js/multiselect.js') }}"></script>
{% endblock %}
